body{
    background: #2C2C2C2C;
}
.container-fluid{
    background: #fff;
    min-height: 100vh;
    text-align: center;
}

/*HEADER*/
.top{
    background: #3abdff;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.top div.col-3:first-child{
    text-align: left;
}
.top div.col-3:last-child{
    text-align: right;
}

/*Fonction*/
.request_sum_reel_time, .sum_sms_by_sub{
    margin: 15px 0;
    border: 1px solid #2C2C2C2C;
    background: #2C2C2C2C;
}

.table, .table th{
    text-align: center;
}

.import{
    margin-bottom: 20px;
}